<mat-card>
    <form (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
      <mat-card-content>
        <mat-accordion>
  
          <ng-container *ngFor="let item of componentData">
            <mat-expansion-panel>
              <mat-expansion-panel-header color="primary">
                <mat-panel-title>
                  {{item.title}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div  [ngModelGroup]="item.groupName">
                <ng-container *ngFor="let clildItem of item.componentItems">
                  <ng-container [ngSwitch]="clildItem.type">
  
                    <mat-form-field *ngSwitchCase="'string'">
                      <input matInput [placeholder]="clildItem.title" [name]="clildItem.name" 
                      ngModel #cName="ngModel" [required]="clildItem.required">                      
                      <mat-error *ngIf="cName.errors?.required">
                        {{clildItem.title}} is 
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
  
                    <mat-form-field *ngSwitchCase="'integer'">
                      <input matInput [placeholder]="clildItem.title" [name]="clildItem.name" 
                      ngModel type="number" [required]="clildItem.required" #cName="ngModel">
                      <mat-error *ngIf="cName.errors?.required">
                        {{clildItem.title}} is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
  
                    <mat-form-field *ngSwitchCase="'dropdown'">
                      <mat-select [placeholder]="clildItem.title" [name]="clildItem.name" 
                      ngModel [required]="clildItem.required" #cName="ngModel">
                        <mat-option *ngFor="let seopt of clildItem.options" [value]="seopt.key">
                              {{ seopt.value }}
                            </mat-option>
                      </mat-select>
                      <mat-error *ngIf="cName.errors?.required">
                        {{clildItem.title}} is
                        <strong>required</strong>
                      </mat-error>
  
                    </mat-form-field>
  
                    <mat-form-field *ngSwitchCase="'password'">
                      <input matInput [placeholder]="clildItem.title" [name]="clildItem.name" type="password"
                       ngModel [required]="clildItem.required" #cName="ngModel">
  
                      <mat-error *ngIf="cName.errors?.required">
                        {{clildItem.title}} is
                        <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
  
                  </ng-container>
                </ng-container>
              </div>
            </mat-expansion-panel>
          </ng-container>
  
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions align="center">
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </mat-card-actions>
  
    </form>
  </mat-card>
